<div>
  <div class="status">
    <span>Status do Pedido: {{status}} </span>
  </div>
  <div class="caixaModal">
    <span class="orcamento">Orçamento</span>
    <div class="selectCampos">
      <select class="select1" #a (change)='select(a.value)' id="cliente">
        <option value="">Selecionar Cliente</option>
      </select>

      <select class="select2" #b (change)='select2(b.value)' id="produto">
        <option value="">Selecionar Produto</option>
      </select>
    </div>

    <div class="qtdProduto">
      <input type="number" value="1" (change)='funcaoQtd()'>
    </div>

    <div class="caixaValor">
      <div class="valorProduto">
        <span>Valor Total do Pedido: {{valorTotal}} </span>
      </div>
    </div>
  </div>

  <div class="caixaModal2">
    <button class="voltar" (click)="voltarPrincipal()">Voltar</button>

    <button class="finalizar">Finalizar Orçamento</button>
  </div>

</div>